{% comment %}
  Version Display Snippet
  This snippet displays the current theme version
{% endcomment %}

<div class="theme-version">
  <small>Theme Version: v0.0.4 - Sharing Vision</small>
</div>

<style>
  .theme-version {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 10px 0;
  }
</style>
